@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Sonsie+One&display=swap');

html body {
    background-color: rgb(116, 113, 106);
    font-family: "Jost";
    margin: 0;
    overflow-x: auto;
    color: white;
}


.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding: 10px 10px;
    height: auto;
}

.ui-header {
    background-color: #2C2C2C;
    color: whitesmoke;
    padding: 5px 0px 5px 25px;
    font-size: 27px;
    font-weight: 500;
    border-bottom: double 4px rgb(194, 192, 192);
}

#subtitle{
    color: #FF7043;
}
.sub-heading {
    padding: 5px 20px ;
    font-weight: 500;
    border-bottom: solid 2px black;
}

.exercise-item {
    display: flex;
    border-radius: 1em;
    /* border: 2px solid #2C2C2C; */
    /* background-color: rgb(194, 192, 192); */
    background-color: #ffc36f9f;
    width: 95%;
    margin: 15px 2.5px;
    padding: 10px 10px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    transition: box-shadow 0.2s ease;
}
.exercise-item.active {
    background-color: whitesmoke;
    color: #FF7043;
}

/* .first-column li{
    display: flex;
    border-radius: 100px;
    border: 2px solid #2C2C2C;
    background-color: rgb(194, 192, 192);
    width: 150px;
    margin: 15px 0px;
    padding: 20px 20px;
    font-size: 21px;
    font-weight: 500;
    transition: box-shadow 0.2s ease;
} */

.first-column li:hover {
    box-shadow:-5px 5px 5px #FF7043
}
#totalVolume {
    color: rgb(209, 178, 4);
}
.value  {
    color: whitesmoke;
}
ul li::before {
    content: "";
}
ul {
    padding-left: 0;
}

.first-column {
    flex: 0 0 200px;
}

.second-column {
    flex-direction: column;
    padding: 15px;
    min-width: 300px;
    height: fit-content;
}
#volume {
    padding-left: 30px ;
}
.instruction {
    padding: 0px 50px;
    text-align: center;
}
.lrgImg {
    display: flex;
    max-width: 500px;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 2px #123524;
}

.third-column {
    display: grid;
    flex-direction: column;
    min-width: 400px;
    height: fit-content;
    padding: 15px;
    /* grid-template-rows: min-content min-content; */
}

.log-container {
    text-align: end;
}
.form-label {
    display: flex;
    align-items: center;
    justify-content: end;
    height: auto;
    margin-right: 4px;
    width: 120px;
    /* flex-shrink: 0; */
}
button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-right: 50px;
}
/* testing orientation of stat box */
.stat-container {
    background-color: #2C2C2C;
    max-width: 100%;
}
.quick-log-input {
    max-width: 100%;
}

.title  {
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    display: flex;
    color: #FF7043;
    background-color: white;
    padding: 10px 0px 10px 30px;
    font-size: 21px;
    font-weight: 500;
}

.stats {
    margin: 30px 0px 30px 30px;
    color: whitesmoke;
    font-size: x-large;
    min-width: fit-content;
}
.form-box {
    width: fit-content;
}
.button-box {
    display: flex;
	width: fit-content;
	margin: 0;
	position: relative;
	border-radius: 30px;
    border: solid 4px #FF7043;
	background: #fff;
}

.toggle-btn {
    font-size: small;
    font-weight: bold;
	padding: 0px 0px;
	cursor: pointer;
	background: transparent;
	border: 0;
    margin: 0;
	outline: none;
	position: relative;
	text-align: center;
    width: 50px;
}

#btn {
	left: 3px;
	top: 3px;
	position: absolute;
	width: 47px;
	height: 87%;
	background: #e67e22;
	border-radius: 30px;
	transition: .5s;
}

.card {
    max-width: 100%;
}

/* Styling for the muscles used elements */
#muscle-targets span, #secondary span {
    font-size: medium;
    /* border: 1px dotted black; */
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 100px;
    display: inline-block;
}

#prim {
    background-color: #E97451;
}

#sec {
    background-color: #568203;
}

#muscle-targets {
    width: 300px
}

#currentMax {
    font-size: 27px;
    padding-left: 40px;
    font-weight: bold;
}

/* Quick Log orientation */
.form-group {
    display: flex;
    margin: 20px 20px;
    font-size: large;

}
.form-group input {
    width: 50px;
    height: 45px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    margin-right: 150px;
}

#difference {
    font-size: small;
}

.negative {
    color: red;
}

.positive {
    position: relative;
    top: -10px;
    color: greenyellow;
}

@media (min-width: 574px) {
    .grid-container {
        flex-direction: row;
        min-width: 530px;
        display: flex;
    }
    .first-column, .second-column, .third-column {
        width: 400px;
    }
    .first-column li{
        display: block;
        border-radius: 100px;
        width: 150px; 
        margin: 15px 0px;
        padding: 20px 20px;
        font-size: 21px;
    }
}

@media (min-width: 1135px) {
    .grid-container {
        margin: 0 auto;
        display: flex;
    }
    .second-column, .third-column {
        width: 400px;
    }
}