@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Sonsie+One&display=swap');

body {
    font-family: "Jost";
    font-size: x-large;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 900px 400px;
    max-width: 1600px;
    gap: 1rem;
    margin: 50px auto;
}

.heading {
    background-color: #2C2C2C;
    color: whitesmoke;
    padding: 5px 0px 5px 25px;
}
#subtitle{
    color: #2979FF;
}

.list-container li {
display: block;
padding: 40px 0px 40px 20px;
border: 3px solid #2979FF;
background-color: rgb(194, 192, 192);
/* box-shadow: -10px 5px 5px #f39e00; */
border-radius: 3%;
width: 100%;
margin-bottom: 10px;
margin-top: 10px;
font-size: x-large;
transition: box-shadow 0.2s ease;
}
.list-container li:hover {
    box-shadow:-10px 10px 10px #f39e00
}

ul li::before {
    content: "";
}
ul {
    padding-left: 0px;
    padding-right: 20px;
}

.second-column {
    padding: 10px 125px;
}

.third-column {
    display: grid;
    grid-template-rows: min-content min-content;
}
.log-container {
    text-align: end;
}

.form-label {
    margin-right: 4px;
    width: 200px;
    flex-shrink: 0;
    /* padding-right: 10px; */
}


/* testing orientation of stat box */

.stat-container {
    border: 1px solid#f39e00;
    background-color: #2C2C2C;
}

.card {
    border: 1px solid red;
}
.title  {
    border: 1px solid green;
    background-color: white;
    padding: 10px 0px 10px 20px;
    font-size: xx-large;
}

.stats {
    margin: 30px;
    color: whitesmoke;
    font-size: x-large;
}
/* Styling for the muscles used elements */
#primary-secondary span {
    border: 1px dotted black;
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: red;
}

#currentMax {
    font-size: xx-large;
    padding-left: 40px;
    font-weight: bold;
}

/* Quick Log oreintation */
.form-group {
    margin: 30px;
    font-size: x-large;

}
.form-group input {
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    margin-right: 150px;
}

button {
    width: 150px;
    height: 50px;
    margin-left: 180px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: x-large;
}

.quick-log-input {
    background-color: rgb(194, 192, 192);
    padding-bottom: 20px;
}

.value {
    font-size: xx-large;
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
}