@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Sonsie+One&display=swap');

html body {
    font-family: "Jost";
    margin: 0;
    overflow-x: auto;
}


.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-width: 1100px; */
    gap: 10px;
    margin: 0 auto;
    padding: 10px 10px;
    height: auto;
}

.ui-header {
    background-color: #2C2C2C;
    color: whitesmoke;
    padding: 5px 0px 5px 25px;
    font-size: 27px;
    font-weight: 500;
    border-bottom: double 4px rgb(194, 192, 192);
}

#subtitle{
    color: #2979FF;
}

.first-column li{
    display: flex;
    border-radius: 100px;
    border: 2px solid #2C2C2C;
    background-color: rgb(194, 192, 192);
    width: 150px;
    margin: 15px 0px;
    padding: 20px 20px;
    font-size: 21px;
    font-weight: 500;
    transition: box-shadow 0.2s ease;
}

.first-column li:hover {
    box-shadow:-5px 5px 5px #2979FF
}

ul li::before {
    content: "";
}

.first-column {
    flex: 0 0 200px;
}

.second-column {
    flex-direction: column;
    padding: 15px;
    border: solid 2px orange;
    min-width: 300px;
}
.lrgImg {
    display: flex;
    max-width: 100%
}

img {
    max-width: 100%
}

.third-column {
    display: grid;
    width: 400px;
    padding: 15px;
    grid-template-rows: min-content min-content;
    border: solid 2px yellowgreen;
}

.log-container {
    text-align: end;
}
.form-label {
    margin-right: 4px;
    width: 200px;
    flex-shrink: 0;
    /* padding-right: 10px; */
}

/* testing orientation of stat box */
.stat-container {
    border: 1px solid#f39e00;
    background-color: #2C2C2C;
    width: fit-content;
}

.card {
    border: 1px solid red;
    width: 350px;
}
.title  {
    border: 1px solid green;
    background-color: white;
    padding: 10px 10px;
    font-size: 21px;
}

.stats {
    margin: 30px;
    color: whitesmoke;
    font-size: x-large;
}

/* Styling for the muscles used elements */
#muscle-targets span, #secondary span {
    font-size: medium;
    /* border: 1px dotted black; */
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 100px;
    display: inline-block;
}

#prim {
    background-color: #FF7043 ;
}

#sec {
    background-color: #123524;
}

#primary {
    width: 300px
}

#currentMax {
    font-size: 27px;
    padding-left: 40px;
    font-weight: bold;
}

/* Quick Log orientation */
.form-group {
    display: flex;
    margin: 20px 20px;
    font-size: 27px;

}
.form-group input {
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 27px;
    border-radius: 10px;
    margin-right: 150px;
}



@media (min-width: 768px) {
    .grid-container {
        flex-direction: row;
        min-width: 530px;
    }
    .first-column, .second-column, .third-column {
        width: 100%;
    }
}

@media (min-width: 1135px) {
    .grid-container {
        margin: 0 auto;
    }
    .second-column, .third-column {
        width: 400px;
    }
}